<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><font size="12" color=blue>Creditos</font></h1>
    <h2>JOSE LUIS LASO FERNANDEZ</h2>
    <img src="images/lennon.png">
  </body>
</html>
